// Profiles
profiles {
	standard {
		process.executor = "local"
	}
	cloud {
		process {
			executor = "awsbatch"
			queue = "terraform-nextflow-medium-size-spot-batch-job-queue"
			container = "rmeinl/python-plt:latest"
		}
		errorStrategy = "retry"
		maxRetries = 3
	}
}

// Plugins
plugins {
    id 'nf-amazon'
}

// AWS Setup
aws {
    region = 'us-west-2'
    batch {
    	cliPath = '/home/ec2-user/bin/aws'
        jobRole = 'arn:aws:iam::622568582929:role/terraform-nextflow-batch-job-role'
    }
}